.navbar-custom {
    background-color: #45668e;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.connected-users {

	color: black;	
	
}

.connected-users:hover {
	color: black;
	text-decoration: none;
}

.post-style {		
	background-color: white;		
}

.blue .active a,
.blue .active a:hover {
    background-color: #45668e;
}

.nav-pills > .active > a, 
.nav-pills > .active > a:hover {
    background-color: #45668e;
}

.nav-pills > li > a {
	background-color: #45668e;
	color: white;
	margin-right:2px;
}